.post{
	background-color: #ddd;
	margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
}
.id{
	position: absolute;
	top: -10px;
	left: -10px;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 40px;
}
.title{
	margin-top: 60px;
}
.buttons{
	display: flex;
	
}
button{
	width: 100% !important;
	border-radius: ;
	border: none;
	padding: 10px;
}
.link{
	width: 100% !important;
}

.mid{
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}
.first{
	border-radius: 0 0 0 10px;}
	.last{
	border-radius: 0 0 10px 0;}